{% extends 'layout.html.twig' %}

{% block pageTitle %}<h1>Ajouter une nouvelle figure</h1>{% endblock %}

{% block content %}

    {{ include('tricks/_form.html.twig') }}

    <a href="{{ path('tricks_index') }}">Retour à la page d'accueil</a>
{% endblock %}
